{
  "nodes": [
    {
      "name": "control-01",
      "ipv4": "192.168.10.10",
      "ssh_user": "ubuntu",
      "ssh_port": 22,
      "groups": [
        "base",
        "control"
      ]
    },
    {
      "name": "worker-01",
      "ipv4": "192.168.10.11",
      "ssh_user": "ubuntu",
      "ssh_port": 22,
      "groups": [
        "base",
        "worker"
      ]
    }
  ]
}